@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.PublishedModels
@using Umbraco.Web.Models

@{
 	var home = Umbraco.Content(Guid.Parse("89cda73a-5d7f-485d-ba47-8cf471e1678b"));
	 var footerMenu = home.Value<IEnumerable<Link>>("footerMenu");
	 var socialNetwork = home.Value<IEnumerable<IPublishedElement>>("socialNetwork");
	 var yearNow = System.DateTime.Now.Year.ToString();
	 
	
	 var footerMenuConsultancy = home.Value<IEnumerable<Link>>("footerMenuConsultancy");   

	var logoFooterConsultancy = "";
    if (home.Value<IPublishedContent>("logoFooterConsultancy") != null ) {
        logoFooterConsultancy = home.Value<IPublishedContent>("logoFooterConsultancy").Url;
    } 

}



<footer class="container consultingfooter">
    
    @if (!Request.Browser.IsMobileDevice)
{



    <div class="row footer-top">
        <div class="col-xs-12 logo">
            <div id="logo-footer-contain">
                <img src="@logoFooterConsultancy" alt="">
            </div>
        </div>
        <div class="col-xs-12 subcribes">
            <h5 class="title">SUBSCRIBE TO OUR LATEST INSIGHTS</h5>
            <p>The latest Rouse news, articles, and resources, sent straight to your inbox.</p>
            
            @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="5043a2ea-4fd0-4ee9-a8c1-605e3958af6a", FormTheme="subscribe", ExcludeScripts="0"})

        </div>
    </div>

    <div class="row footer-bottom">
        <div class="menu-footer col-xs-12">
            <ul>
                  @if (footerMenuConsultancy.Any())
                {
                  
                        foreach (var link in footerMenuConsultancy)
                        {
                            <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                        }
                   
                }
              
            </ul>
        </div>
       
        <div class="col-xs-12 social-icons">
        @if ( socialNetwork != null && socialNetwork.Count() > 0 ) {
            foreach (var socialItem in socialNetwork ) {
             <a class="linkedin" href="@socialItem.Value("socialNetworkUrl")" target="_blank"><i class="@socialItem.Value("socialNetworkIcon")"></i></a>
        
        }
        }
        </div>
    </div>

    <div class="row bottom-footer">
        <div class="member">
            <p>Member of the Rouse Network</p>
        </div>
        <div class="description">
            <p>The Rouse Network consists of local subsidiaries of Rouse & Co International (Holdings) LLP and closely aligned but independent firms which work seamlessly together on engagements. Which elements of work are done by which entity depends entirely on the country in which work is carried out, in compliance with relevant legal and regulatory provisions.</p>
        </div>
          <div class="copyright-contain">
            <div class="copyright-text">
                <span>&#169; @yearNow Rouse & Co. International. All rights reserved.</span>
                
                   <p class="legal"> Legal </p>
            </div>

         </div>
      
        
    </div> 
  
} else {
     <div class="row footer-top">
            <div class="col-xs-12 logo">
                <div id="logo-footer-contain">
                    <img src="@logoFooterConsultancy" alt="">
                </div>
            </div>
            
        </div>
       <div class="col-xs-12 social-icons">
              @if ( socialNetwork != null && socialNetwork.Count() > 0 ) {
            foreach (var socialItem in socialNetwork ) {
             <a class="linkedin" href="@socialItem.Value("socialNetworkUrl")" target="_blank"><i class="@socialItem.Value("socialNetworkIcon")"></i></a>
        
        }
        }
        </div>
        
     <div class="row footer-bottom">
        <div class="menu-footer col-xs-12">
            <ul>
                   @if (footerMenuConsultancy.Any())
                {
                  
                        foreach (var link in footerMenuConsultancy)
                        {
                            <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                        }
                   
                }
             
            </ul>
        </div>
     
    </div>
}





</footer>