@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "IPExMaster.cshtml";
    ViewBag.Title = "Forgot password";
}
<style>
    @@media
    (min-width: 320px) {
        .footer-forgot-password {
            left: 0;
            bottom: 0;
            background: white;
            width: 100%;
            padding: 0 0px 35px 0px;
        }
    }

</style>


<div class="container-desktop">
    <div class="d-flex">
        <div class="sidebar-right">
            <div class="logo">
                <img width="100" src="~/Assets/IPEx/images/logo.svg">
            </div>
            <div class="list-partner text-center">
                <div>Created and Powered by</div>
                <ul class="list-group list-group-vertical">
                    <li class="list-group-item">
                        <img class="img-fluid" width="117"
                             src="~/Assets/IPEx/images/ip-rouse.png" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="111"
                             src="~/Assets/IPEx/images/inngotDesktop.svg" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="182"
                             src="~/Assets/IPEx/images/fsipDesktop.svg" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="210"
                             src="~/Assets/IPEx/images/UKGovDesktop.svg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-custom content-signin">
            <div class="d-flex flex-column w-100">
                <div class="language ml-auto">
                    <i class="fas fa-language"></i>
                    <span>English</span>
                </div>
                <wrapper>
                    <div class="text-center w-100">
                        <div class="form">
                            <div class="logo">
                                <img width="100" src="~/Assets/IPEx/images/logo.svg">
                            </div>
                            <div class="title text-left" style="margin-bottom:50px">@Model.Value("IPExForgotPWTitle")</div>
                            <form class="needs-validation" action="/intangibles.html" novalidate>
                                <div class="form-group text-left">
                                    <div class="">
                                        <label for="validationCustom02">@Model.Value("IPExForgotPWEmailTitle")</label>
                                        <div class="form-input">
                                            <div class="input-validate">
                                                <input type="text" class="form-control txt-username" id="validationCustom02" value=""
                                                       placeholder="Email Address" required>
                                                <small class="text-danger text-blod validate-username"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    <div class="d-flex">
                                        <a href="@Model.Value("IPExForgotPWCancelLink")" class="btn btn-custom btn-custom-outline" style="margin-right:77px">@Model.Value("IPExForgotPWCancelTitle")</a>
                                        <a href="javascript:void(0)" class="btn btn-custom btn-Allports btn-sendMail">@Model.Value("IPExBtnSendMailTitle")</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </wrapper>
            </div>
        </div>
    </div>
    <footer class="footer-index">
        <div class="contact-name">Contact Us</div>
        <div class="contact-mail d-flex align-items-center">
            <i class="far fa-envelope mr-2"></i>ipexplorer@rouse.com
        </div>
    </footer>
</div>




@section Scripts{
    <script>
        var password_validate_message = "Password is required";
        var username_validate_message = "Email is required";
        var email_validate_message = "Email invalid";
        var result_validate_message = "Email does not exist";
        var success_message = "Thank you please check your email for the reset link";
        var pattern = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{1,4}|[0-9]{1,3})(\]?)$/;

        $(document).ready(function () {
            $(document).on('keypress', function (e) {
                if (e.which == 13) {
                    $('.btn-sendMail').click();
                }
            });

            $('.btn-sendMail').click(function () {   
                $(this).attr("disabled", "disabled");

                if ($('.txt-username').val() == "") {
                    $('.validate-username').text(username_validate_message);
                    return;
                }
                if (!pattern.test($('.txt-username').val())) {
                    $('.validate-username').text(email_validate_message);
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SendEmailForgotPW", "IPExplorer")',
                    data: { email: $('.txt-username').val()},
                    success: function (result) {
                        if (!result.status) {
                            $('.validate-username').text(result.message);
                        }  
                        else {
                            window.alert(success_message);
                            window.location.href = '@Model.Value("IPExBtnSendMailLink")';
                        }
                    },
                    dataType: 'Json'
                });

            });
        });
    </script>

 }