@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "IPExMaster.cshtml";
    ViewBag.Title = "Change password";
    var queryStringUrl = HttpContext.Current.Request.Url.Query;
    var token = "";

    if (queryStringUrl.Contains("?token="))
    {
        token = queryStringUrl.Replace("?token=", "");
    }
}

<style>
    @@media (min-width: 320px) {
        .footer-forgot-password {
            left: 0;
            bottom: 0;
            background: white;
            width: 100%;
            padding: 0 0px 35px 0px;
        }
    }
</style>



<div class="container-desktop">
    <div class="d-flex">
        <div class="sidebar-right">
            <div class="logo">
                <img width="100" src="~/Assets/IPEx/images/logo.svg">
            </div>
            <div class="list-partner text-center">
                <div>Created and Powered by</div>
                <ul class="list-group list-group-vertical">
                    <li class="list-group-item">
                        <img class="img-fluid" width="117"
                             src="~/Assets/IPEx/images/ip-rouse.png" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="111"
                             src="~/Assets/IPEx/images/inngotDesktop.svg" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="182"
                             src="~/Assets/IPEx/images/fsipDesktop.svg" />
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" width="210"
                             src="~/Assets/IPEx/images/UKGovDesktop.svg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-custom content-signin">
            <div class="d-flex flex-column w-100">
                <div class="language ml-auto">
                    <i class="fas fa-language"></i>
                    <span>English</span>
                </div>
                <wrapper>
                    <div class="text-center w-100">
                        <div class="form">
                            <div class="logo">
                                <img width="100" src="~/Assets/IPEx/images/logo.svg">
                            </div>
                            <div class="title text-left" style="margin-bottom:50px;">@Model.Value("IPExChangePWTitle")</div>
                            <form class="needs-validation" action="/intangibles.html" novalidate>
                                <div class="form-group text-left">
                                    <div class="" style="margin-bottom:20px;">
                                        <div class="d-flex justify-content-between">
                                            <label for="validationCustom02">@Model.Value("IPExChangePWNewPw")</label>
                                        </div>
                                        <div class="form-input">
                                            <div class="password">
                                                <div class="input-validate">
                                                    <input type="password" class="form-control txt-password-new" id="validationCustom03" value=""
                                                           placeholder="Password" required>
                                                    <small class="text-danger text-blod validate-password-new"></small>
                                                </div>
                                                <span class="pass-eye" data-id="-new">
                                                    <i class="far fa-eye-slash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex justify-content-between">
                                            <label for="validationCustom02">@Model.Value("IPExChangePWConfirm")</label>
                                        </div>
                                        <div class="form-input">
                                            <div class="password">
                                                <div class="input-validate">
                                                    <input type="password" class="form-control txt-password-confirm" id="validationCustom03" value=""
                                                           placeholder="Re-enter Password" required>
                                                    <small class="text-danger text-blod validate-password-confirm"></small>
                                                </div>
                                                <span class="pass-eye" data-id="-confirm">
                                                    <i class="far fa-eye-slash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    <div class="d-flex">
                                        <a href="@Model.Value("IPExChangePWCancelLink")" class="btn btn-custom btn-custom-outline" style="margin-right:77px">@Model.Value("IPExChangePWCancelTitle")</a>
                                        <a href="javascript:void(0)" class="btn btn-custom btn-Allports btn-change-password">@Model.Value("iPExChangePWContinueTitle")</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </wrapper>
            </div>
        </div>
    </div>
    <footer class="footer-index">
        <div class="contact-name">Contact Us</div>
        <div class="contact-mail d-flex align-items-center">
            <i class="far fa-envelope mr-2"></i>ipexplorer@rouse.com
        </div>
    </footer>
</div>



@section Scripts{
    <script>
        var MESSAGE_EMAIL_NOT_EXIST = "Email does not exist";
        var MESSAGE_TOKEN_IS_CORRECT  = "Token is incorrect";
        var MESSAGE_TOKEN_IS_EXPRED = "Token has expired";
        var MESSAGE_LENGTH_PASSWORD = "length requires 10 characters";
        //var MESSAGE_LENGTH_PASSWORD = "length requires 10 characters";
        var MESSAGE_SUCCESS = "You have successfully changed your password";
        var NEW_PASSOWRD_REQUIRED = "New password is required";
        var NEW_PASSOWRD_CONFIRM_REQUIRED = "Re-enter password";
        var PASSWORD_DIFFERENT = "Password does not match";
        var VALIDATE_TOKEN_EMAIL = "token is incorrect";

        function Validate() {
             $.ajax({
                    type: "POST",
                    url: '@Url.Action("ForgotPassowdValidateToken", "IPExplorer")',
                    data: { token: '@token'},
                    success: function (result) {
                            if (result.status == 0)
                                return;
                            if (result.status == 1) {
                                window.alert(MESSAGE_EMAIL_NOT_EXIST);
                            }
                            if (result.status == 2) {
                                window.alert(MESSAGE_TOKEN_IS_CORRECT);
                            }
                            if (result.status == 3) {
                                window.alert(MESSAGE_TOKEN_IS_EXPRED);
                            }
                            window.location.href = "@Model.Value("IPExChangePWCancelLink")";
                    },
                    dataType: 'Json'
                });
        }
        Validate();



        $(document).ready(function () {

            $(document).on('keypress', function (e) {
                if (e.which == 13) {
                    $('.btn-change-password').click();
                }
            });
            $('.btn-change-password').click(function () {
                $('.validate-password-new').text('');
                $('.validate-password-confirm').text('');
                var success = true;

                if ($('.txt-password-new').val() != '' && $('.txt-password-confirm').val() != '') {
                    if ($('.txt-password-confirm').val() != $('.txt-password-new').val()) {
                        $('.validate-password-confirm').text(PASSWORD_DIFFERENT);
                        success = false;
                    }
                }

                if ($('.txt-password-new').val() != '') {
                    if ($('.txt-password-new').val().length < 10) {
                        $('.validate-password-new').text(MESSAGE_LENGTH_PASSWORD);
                        success = false;
                    }
                }

                if ($('.txt-password-confirm').val() != '') {
                    if ($('.txt-password-confirm').val().length < 10) {
                        $('.validate-password-confirm').text(MESSAGE_LENGTH_PASSWORD);
                        success = false;
                    }
                }

               
                if ($('.txt-password-new').val() == '') {
                    $('.validate-password-new').text(NEW_PASSOWRD_REQUIRED);
                    success = false;
                }

                if ($('.txt-password-confirm').val() == '') {
                    $('.validate-password-confirm').text(NEW_PASSOWRD_CONFIRM_REQUIRED);
                    success = false;
                }

                if (!success)
                    return;

                var data = { token: '@token', password: $('.txt-password-new').val() };
                if (data.token == "") {
                    window.alert(VALIDATE_TOKEN_EMAIL);
                    return;
                }
                 $.ajax({
                    type: "POST",
                     url: '@Url.Action("ChangePassowrd", "IPExplorer")',
                     data: data,
                     success: function (result) {

                         if (result.status == 0) {
                             window.alert(MESSAGE_SUCCESS);
                             window.location.href = "@Model.Value("iPExChangePWContinueLink")";
                             return;
                         }

                            if (result.status == 1)
                                window.alert(MESSAGE_EMAIL_NOT_EXIST);

                            if (result.status == 2)
                                window.alert(MESSAGE_TOKEN_IS_CORRECT);

                            if (result.status == 3)
                             window.alert(MESSAGE_TOKEN_IS_EXPRED);

                         if (result.status == 4)
                             window.alert(MESSAGE_LENGTH_PASSWORD);
                    },
                    dataType: 'Json'
                });

            });
        });
    </script>
}