@inherits Umbraco.Web.Mvc.UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    	var newsCaseStudies = Umbraco.Content(Guid.Parse("238166b3-7efc-49e1-ab2c-5f48d5206751"))
        .Children()
        .Where(x => x.IsVisible())
        .Where (x=> x.Value<String>("newsCategory") == "Latest IP").Take(3)
        .OrderByDescending(x => x.CreateDate);
        
        var newsCaseStudiesArray =  new  Umbraco.Core.Models.PublishedContent.IPublishedContent[5]  ;
        var newsCaseStudiesImageArray =  new  string [5]  ;
        var itemStudiesCount = 0;
    
       foreach (var itemStudies  in  newsCaseStudies) {
          newsCaseStudiesArray[itemStudiesCount] = itemStudies;
          var itemImage = "";
          if (itemStudies.HasValue("newsImage")) {
            itemImage =  itemStudies.Value<IPublishedContent>("newsImage").Url;
          }
            newsCaseStudiesImageArray[itemStudiesCount] = itemImage;
          itemStudiesCount++;
    }
    
    }
   
    
    
    <section class="section-our-office container">
        <div class="row">
        <div class="title-section">
            <h4>Case Studiess</h4>
            <a class="more" href="/case-studies">more <i class="fas fa-chevron-right arrow arrow-1"></i><i class="fas fa-chevron-right arrow arrow-2"></i><i class="fas fa-chevron-right arrow arrow-3"></i></a>
        </div>
        </div>
        <div class="office-item" id="case-studies-wrap">
            <div class="row">
                <div class="col-md-6 office-left" style="background-image:url('@newsCaseStudiesImageArray[0]')">
                   <!--Item content -->
                         <div class="item-content item-content-news" >
                        <div class="title"><a href="@newsCaseStudiesArray[0].Url">@newsCaseStudiesArray[0].Name</a></div>
                        <div class="description">
                         @newsCaseStudiesArray[0].Value("newsContent")
                        </div>
                        <p class="time">@newsCaseStudiesArray[0].Value("newsTimeRead") minute read</p>
                        <p class="author">@newsCaseStudiesArray[0].Value("newsAuthor")</p>
                        <a href="" class="readmore">READ MORE <i class="fas fa-chevron-right arrow arrow-1"></i><i class="fas fa-chevron-right arrow arrow-2"></i><i class="fas fa-chevron-right arrow arrow-3"></i></a>
                        <p class="datetime">@newsCaseStudiesArray[0].CreateDate.ToString("dd MMM yyyy", null)</p>
                        <p class="hashtag">@newsCaseStudiesArray[0].Value("hashtag")</p>
                </div>
                   <!--End Item content-->
                </div>
                <div class="col-md-6 office-right">
                    <div class="row">
                        <div class="col-md-12 office-top" style="background-image:url('@newsCaseStudiesImageArray[1]')">
                            <!--Item content -->
                                 <div class="item-content item-content-news" >
                                <div class="title"><a href="@newsCaseStudiesArray[1].Url">@newsCaseStudiesArray[1].Name</a></div>
                                <div class="description">
                                @newsCaseStudiesArray[1].Value("newsContent")
                                </div>
                                <p class="time">@newsCaseStudiesArray[1].Value("newsTimeRead") minute read</p>
                                <p class="author">@newsCaseStudiesArray[1].Value("newsAuthor")</p>
                                <a href="" class="readmore">READ MORE <i class="fas fa-chevron-right arrow arrow-1"></i><i class="fas fa-chevron-right arrow arrow-2"></i><i class="fas fa-chevron-right arrow arrow-3"></i></a>
                                <p class="datetime">@newsCaseStudiesArray[1].CreateDate.ToString("dd MMM yyyy", null)</p>
                                <p class="hashtag">@newsCaseStudiesArray[1].Value("hashtag")</p>
                            </div>
                   <!--End Item content-->
                        </div>
                        <div class="col-md-12 office-bottom" style="background-image:url('@newsCaseStudiesImageArray[2]')">
                                <!--Item content -->
                                     <div class="item-content item-content-news" >
                                    <div class="title"><a href="@newsCaseStudiesArray[2].Url">@newsCaseStudiesArray[2].Name</a></div>
                                    <div class="description">
                                     @newsCaseStudiesArray[2].Value("newsContent")
                                    </div>
                                    <p class="time">@newsCaseStudiesArray[1].Value("newsTimeRead") minute read</p>
                                    <p class="author">@newsCaseStudiesArray[2].Value("newsAuthor")</p>
                                    <a href="" class="readmore">READ MORE <i class="fas fa-chevron-right arrow arrow-1"></i><i class="fas fa-chevron-right arrow arrow-2"></i><i class="fas fa-chevron-right arrow arrow-3"></i></a>
                                    <p class="datetime">@newsCaseStudiesArray[2].CreateDate.ToString("dd MMM yyyy", null)</p>
                                    <p class="hashtag">@newsCaseStudiesArray[2].Value("hashtag")</p>
                                </div>
                                <!--End Item content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

